@charset "UTF-8";
body {
	margin: 0;
	font-family: "Century Gothic", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
  }
  
  main {
	flex: 1; 
	display: flex;
	justify-content:center;
	align-items:center;
  }
  
  .Login {
	               margin: 0 auto;      
	               text-align: center;
	               width: 30%;
	               background-color: #8f8f8f;
	               padding: 40px;
	               font-size: 26px;
	               border-radius: 8px;
	               box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	               box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                   }

  form label{
        padding:20px;
		border-radius:4px;
  }
  
  form button{
                   width: 40%;
                   height: 30px;
                   background-color: #6b6b6b;
                   color: white;
                   font-size: 10px;
                   border: none;
                   border-radius: 6px;
                   cursor: pointer;
                   transition: background-color 0.3s ease;
                   }
  button:hover {
					background-color: #565252;
                    }
  header {
					position: relative;
					height: 150px;
					background-color: #6b6b6b;
					}
					  
  header img {
					position: absolute;
					left: 10px;
					top: 15px;
					height: 100px;
					width: 100px;
					padding:20px;
					}
header form {
						width: 300px;
						margin: 1px;
						padding: 5px;
						border: 1px solid #ccc;
						border-radius: 5px;
						float:right;
					}
					input[type=text] {
						width: 70%;
						padding: 8px;
						border: none;
						border-radius: 3px;
						font-size: 10px;
					}
					button {
						width: 22%;
						padding: 10px;
						background-color: #4CAF50;
						color: white;
						border: none;
						border-radius: 4px;
						cursor: pointer;
						font-size: 10px;
					}
header h1 {
					position:relative;
					text-align:center;
					font-size: 50px;
					color: #000000;
					margin-top: 30px;
					line-height: 100px;
					padding:20px;
					}
h1{
					position:relative;
					text-align:center;
					font-size: 40px;
					color: #000000;
					margin-top: 20px;
					line-height: 0px;
					padding:10px;
					}
nav{
				  clear:both;
				  width:80%;
				  margin:0px auto;
				  height:55px;
			      }
nav a{
				  color:black;
				  text-decoration:none;
				  text-align:center;
				  padding:20px;
			     }
nav .opcao {
					display: inline-block;        
					width: 200px;                   
					background-color: #3f3e3e;
					color: white;
					text-align: center;
					padding: 10px 20px;
					margin: 10px 6px;
					font-size: 20px;
					text-decoration: none;
					border-radius: 6px;
					transition: background-color 0.3s ease;
				  }

			          
nav .opcao:hover{
background-color:#737171;
}


table {
	width: 95%;
	margin: 0 auto;
	border-collapse: collapse;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 8px 24px rgba(0,0,0,0.1);
	background-color: #9b9b9b;
}



tr:nth-child(even) td {
	background-color: #949494;
}


   th{
					background-color:#d7f0ff;
					padding:10px;
					margin-top:20px;
					width:30%;
   }
   td{
					background-color:#c9cbcc;
					padding:10px;
					margin-top:30px;
					width:50px;
   }
footer {
				
	                background-color: #565252;
			        color: #ffffff;
				    padding: 10px;
				    text-align: center;
				    margin-top:20px;
			        }
fieldset {
					border: none; /* ou o que preferir */
				    }